{% extends "allauth/layouts/base.html" %}

{% block title %}Item Details{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container mt-4">
{% if item %}
<div class="container mt-4">
    <div class="card shadow-sm mb-4">
        {% crispy delete_item_form delete_item_form.helper %}
        <div class="card-body">
            <h2 class="card-title">{{ item.title }}</h2>
            <p class="card-text"><strong>Sell Price:</strong> £{{ item.sell_price }}</p>
            <p class="card-text"><strong>Exchange Price:</strong> £{{ item.exchange_price }}</p>
            <p class="card-text"><strong>Cash Price:</strong> £{{ item.cash_price }}</p>
        </div>
    </div>
</div>
{% else %}
    <p>No item found.</p>
{% endif %}
<h2>Item Price History</h2>
{% include 'items/partials/item_price_chart.html' %}
</div>
{% endblock %}
