{% extends "master.html" %}
{% load bootstrap_icons %}

{% block title %}Item Details{% endblock %}

{% block content %}
{% if item %}
<div class="container mt-4">
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <h2 class="card-title">{{ item.title }}</h2>
            <p class="card-text"><strong>Sell Price:</strong>{{ item.sell_price }}</p>
            <p class="card-text"><strong>Exchange Price:</strong>{{ item.exchange_price }}</p>
            <p class="card-text"><strong>Cash Price:</strong>{{ item.cash_price }}</p>
        </div>
    </div>
</div>
{% else %}
    <p>No item found.</p>
{% endif %}
{% if data %}
<h2>Item Price History</h2>
<canvas id="priceChart"></canvas>

<script>
    var data = JSON.parse('{{ data|safe }}');

    var ctx = document.getElementById('priceChart').getContext('2d');

    new Chart(ctx, {
        type: 'line',
        data: {
            labels: data.labels, // Dates
            datasets: data.datasets // Prices
        },
        options: {
            responsive: true,
            scales: {
                y: { beginAtZero: false } // Keep prices realistic
            }
        }
    });
</script>
{% else %}
    <p>No price history</p>
{% endif %}
{% endblock %}
