{% extends "master.html" %}

{% block title %}List of Items{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
{% crispy add_item_form add_item_form.helper %}
<form action="{% url 'items:update-item-prices' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Update Item Prices">
</form>
{% if items_list %}
    <ul>
    {% for item in items_list %}
        <li><a href="{% url 'items:detail' item.id %}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}
{% endblock %}
