{% extends "allauth/layouts/base.html" %}

{% block title %}List of Items{% endblock %}

{% block content %}
<div class="container mt-4">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
{% endif %}
{% load crispy_forms_tags %}
{% crispy add_item_form add_item_form.helper %}
{% if items_list %}
    <div class="container mt-4">
        <div class="d-flex justify-content-between align-items-center mb-4">
            <h2 class="text-center flex-grow-1">Collection</h2>
            {% comment %} <div>
                {% crispy update_item_prices_form update_item_prices_form.helper %}
            </div> {% endcomment %}
        </div>
        <div class="row">
            {% for item in items_list %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h5 class="card-title text-truncate">{{ item.title }}</h5>
                            
                            <p class="card-text">
                                <strong>Sell Price:</strong> £{{ item.sell_price }}<br>
                                <strong>Exchange Price:</strong> £{{ item.exchange_price }}<br>
                                <strong>Cash Price:</strong> £{{ item.cash_price }}
                            </p>
                            <a href="{% url 'items:detail' item.id %}" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    {% include 'partials/pagination.html' %}

{% else %}
    <div class="alert alert-warning text-center" role="alert">
        No items available at the moment.
    </div>
{% endif %}
</div>
{% endblock %}
